*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: None;
}
:root{
    --main:#7076FE;
    --blk:#4B556B;
    --White:#F9F9F9;
    --second-bg:#6c757d;
}
/*----Navbar start-----*/
nav .container{
    border-radius: 10px;
    min-height: 5vh;
}
.navbar-brand{
    color: var(--blk);
}
.navbar-toggler-icon{
    color: var(--blk);
    padding: 5px;
}
.nav-link{
    color: var(--blk);
    text-align: center;
    padding: 10px;
}
.nav-link:hover{
    background-color: var(--main);
    border-radius: 5px;
    color: var(--White);
}
/*----Navbar end-----*/
#About .row{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.about-text h1{
    color: var(--main);
    font-size: 3.5rem;
    font-weight: bold;
    margin: 15px 0;
}
.about-text span{
    font-weight: bolder;
    color: var(--blk);
}
.about-text h2{
    color: var(--blk);
}
.about-text p{
    color: var(--second-bg);
    line-height: 30px;
}
.social-links i{
    padding: 0 15px;
    font-size: 1.5rem;
    color: var(--second-bg);
}
.about-image img{
    max-width: 60%;
}
@media screen and (max-width: 992px) {
    .about-text h1 {
      font-size: 2.3rem;
    }
    .about-image img{
        max-width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    #About .row{
        margin: 4rem 0;
    }
    .about-text{
        margin-top: 50px;
    }
    .about-text h1 {
        font-size: 2.8rem;
      }
    .about-image img{
        max-width: 90%;
    }
  }

@media screen and (max-width: 480px) {
    .about-image img{
       margin-top: 1rem;
    }
    .about-text h1 {
      font-size: 2.4rem;
    }
    .social-links i{
        padding: 0 10px;
        font-size: 1.5rem;
        color: var(--second-bg);
        margin-top: 0;
    }
  }
/*---------------------------------site-------------------------------------------*/
#Site .row{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.site-text h1{
    font-size: 4rem;
    color: var(--main);
    font-weight: bolder;
}
.site-text span{
    color: var(--main);
}
.site-text h3{
    color: var(--blk);
}
.site-text p{
    color: var(--second-bg);
    line-height: 30px;
}
.site-img img{
    max-width: 70%;
}
.btn{
    background-color: var(--second-bg);
    color: var(--White);
}
@media screen and (max-width: 992px) {
    .site-text h1 {
      font-size: 2.8rem;
    }
    .site-text h3 {
        font-size: 1.5rem;
      }
      .site-text p{
        color: var(--second-bg);
        line-height: 25px;
    }
    .site-img img{
        max-width: 100%;
    }
  }
  @media screen and (max-width: 768px){
    .site-text{
        margin: 2rem 0;
    }
    .site-text h1 {
        font-size: 3.2rem;
      }
      .site-text h3 {
          font-size: 1.8rem;
        }
        .site-text p{
          color: var(--second-bg);
          line-height: 25px;
      }
      .site-img img{
          max-width: 90%;
      }
  }
@media screen and (max-width: 480px) {
    .site-text h1 {
      font-size: 2.5rem;
    }
    .site-text h4 {
        font-size: 1.3rem;
      }
      .site-text p{
        color: var(--second-bg);
        line-height: 25px;
    }
  }
/*----------------------------site end----------------------------------------*/

/*----About end-----*/
/*----Services-----*/
#Services .row{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
#Services h1{
    color: var(--main);
    text-align: center;
    font-size: 4.5rem;
    font-weight: bold;
}
#Services .card{
    background-color: var(--White);
    border-radius: 10px;
    color: var(--blk);
    text-align: center; 
}
.fas{
    font-size: 2rem;
    padding: 1rem;
}
.card:hover{
    transition-duration: .5s;
}
@media screen and (max-width: 992px) {
    #Services h1 {
      margin: 3rem 0;
    }
    
  }
@media screen and (max-width: 480px) {
    #Services h1 {
      margin: 3.5rem 0;
    }
  }
/*----services end-----*/
/*----Team-----*/
#Team{
    background-color: var(--main);
}
#Team .row{
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
#Team h1{
    color: var(--White);
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
}
#Team .box-front{
    color: var(--second-bg);
    background-color: var(--White);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    border: solid var(--second-bg) 1px;
}
.box-img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background: var(--second-bg);
    padding: 3px;
}
.box-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.box-txt h3{
    margin: 20px 0;
}
.box-txt h5{
    margin: 20px 0;
}
.fa-brands{
    font-size: 1.2rem;
    padding: 0 .4rem;
    color: var(--second-bg);
}
@media screen and (max-width: 992px) {
    #Team h1{
        margin: 3rem 0;
    }
    #Team .box-front{
        margin: 1rem 4rem;
    }
  }
@media screen and (max-width: 480px) {
    #Team .box-front{
        margin: 20px;
    }
  }
/*----Team end-----*/
/*----Testimonials-----*/
#Testimonials .card{
    background-color: var(--White);
    margin: 5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#Testimonials .row h1{
    color: var(--blk);
    text-align: center;
    font-weight: bolder;
    font-size: 3rem ;
    margin: 5rem 0;
    border-bottom: 5px solid var(--blk);
}
#Testimonials .card-text{
    
}
.card-img{
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}
.Footer{
    text-align: center;
    color: var(--White);
    background-color: var(--main);
}
@media screen and (max-width: 992px) {
    #Testimonials .card{
      margin: 1rem 0;
    }
    
  }
@media screen and (max-width: 480px) {
    #Testimonials .card{
      height: 10rem;
    }
    
  }
  /*----Team end-----*/
/*----Testimonials end-----*/

