*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: None;
}
:root{
    --main: #191d28;
    --blk:#f0083f;
    --White:#fff;
    --second-bg:#1e222d;
}
body{
    background-color: var(--main);
}
/*----Navbar start-----*/
nav .container{
    border-radius: 10px;
    min-height: 5vh;
}
.navbar-brand{
    color: var(--White);
}
.navbar-toggler-icon{
    color: var(--White);
    padding: 5px;
}
.nav-link{
    color: var(--White);
    text-align: center;
    margin: 0 2rem;
}
.nav-link:hover{
    border-bottom: 2px solid var(--blk);
    color: var(--blk);
}
/*----Navbar end-----*/
#About .row{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
.about-text h1{
    color: var(--blk);
    font-size: 3.5rem;
    font-weight: bold;
    margin: 15px 0;
}
.about-text h1 span{
    color: var(--White);
}
.about-text h2 span{
    font-weight: bolder;
    color: var(--blk);
    font-size: 40px;
}
.about-text h2{
    color: var(--White);
}
.about-text p{
    color: var(--White);
    line-height: 30px;
}
.social-links i{
    padding: 0 20px;
    font-size: 1.8rem;
    color: var(--White);
    margin-top: 2rem;
}
.about-image{
    display: flex;
    justify-content: center;
}
.about-image img{
    max-width: 70%;
}
@media screen and (max-width: 992px) {
    .about-text h1 {
      font-size: 2.3rem;
    }
    .about-image img{
        max-width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    #About .row{
        margin: 4rem 0;
    }
    .about-text{
        margin-top: 0px;
    }
    .about-text h1 {
        font-size: 2.8rem;
      }
    .about-image img{
        max-width: 90%;
    }
  }

@media screen and (max-width: 480px) {
    .about-image img{
       margin-top: 1rem;
    }
    .about-text{
        margin-top: 0;
    }
    .about-text h1 {
      font-size: 2.4rem;
    }
    .social-links i{
        padding: 0 10px;
        font-size: 1.5rem;
        margin-top: 0;
        margin-top: 20px;
    }
  }
/*---------------------------------site-------------------------------------------*/
#Site .row{
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.site-text h1{
    font-size: 4rem;
    color: var(--blk);
    font-weight: bolder;
}
.site-text h3{
    color: var(--White);
}
.site-text p{
    color: var(--White);
    line-height: 30px;
    margin-bottom: 30px;
}
.site-img img{
    max-width: 100%;
    animation: 3s linear infinite;
}
.btn{
    background-color: var(--blk);
    color: var(--White);
    padding:  5px 15px;
    font-size: 17px
}
@media screen and (max-width: 992px) {
    .site-text h1 {
      font-size: 3.4rem;
    }
    .site-text h3 {
        font-size: 1.8rem;
      }
    .site-img img{
        max-width: 100%;
    }
  }
  @media screen and (max-width: 768px){
    #Site .row{
        margin-bottom: 5rem;
    }
    .site-text{
        margin: 2rem 0;
    }
    .site-text h1 {
        font-size: 3.2rem;
      }
      .site-text h3 {
          font-size: 1.8rem;
        }
      .site-img img{
          max-width: 90%;
      }
  }
@media screen and (max-width: 480px) {
    .site-text h1 {
      font-size: 2.5rem;
      margin: 20px 0;
    }
    .site-text h3 {
        font-size: 1.7rem;
      }
  }
/*----------------------------site end----------------------------------------*/

/*----About end-----*/
/*----Services-----*/
#Services{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#Services .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 5rem;
}
#Services h1{
    color: var(--blk);
    text-align: center;
    font-size: 4.5rem;
    font-weight: bold;
}
.service-box{
    border: 1px solid var(--blk);
    border-radius: 10px;
    color: var(--White);
    text-align: center; 
    background-color: var(--main);
    transition: .5s;
}
.service-box:hover{
    transform: scale(1.1);
}
.fas{
    font-size: 2rem;
    padding: 1rem;
    color: var(--blk);
}
@media screen and (max-width: 768px){
    #Services h1{
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 480px) {
    #Services h1 {
      margin: 3.5rem 0;
    }
    .service-box{
        margin: 0 30px;
    }
  }
/*----services end-----*/
/*----Team-----*/
#Team .container{
    display: grid;
    padding: 2rem 0;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4rem;
    padding: 5rem 0;
}
#Team h1{
    color: var(--White);
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    margin: 5rem 0;
}
.team-box{
    color: var(--blk);
    background-color: var(--second-bg);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    transition: .5s;
}
.team-box:hover{
    transform: scale(.7);
}
.box-img{
    border-radius: 50%;
    border: 3px solid var(--blk);
    max-width: 150px;
    max-height: 150px;
    background: var(--second-bg);
    padding: 3px;
}
.box-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.box-txt h3{
    margin: 20px 0;
    color: var(--White);
}
.box-txt h5{
    margin: 20px 0;
    color: var(--White);
}
.fa-brands{
    font-size: 1.4rem;
    padding: .3rem .6rem;
    color: var(--White);
}
@media screen and (max-width: 992px) {
    #Team h1{
        margin: 3rem 0;
    }
}
@media screen and (max-width: 768px){
    #Team h1{
         margin-bottom: 0rem;
    }
}
@media screen and (max-width: 480px) {
    .team-box{
        margin:  0 50px;
    }
  }
/*----Team end-----*/
/*----Testimonials-----*/
#Testimonials .card{
    background-color: var(--White);
    margin: 5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#Testimonials .row h1{
    color: var(--blk);
    text-align: center;
    font-weight: bolder;
    font-size: 3rem ;
    margin: 5rem 0;
    border-bottom: 5px solid var(--blk);
}
.card-img{
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}
.Footer{
    text-align: center;
    color: var(--White);
    background-color: var(--main);
}
@media screen and (max-width: 992px) {
    #Testimonials .card{
      margin: 1rem 0;
    }
    
  }
@media screen and (max-width: 480px) {
    #Testimonials .card{
      height: 10rem;
    }
    
  }
  /*----Team end-----*/
/*----Testimonials end-----*/
/*----Footer-----*/
#Contact{
    background-color: var(--second-bg);
}
#Contact h1{
    text-align: center;
    color: var(--White);
    padding: 30px 0;
}
#Contact .headings h1{
    color: var(--White);
    margin: 20px 0;
    font-size: 3rem;
}
.contact-btn a{
    color: var(--White);
    text-decoration: none;
    background-color: var(--main);
    padding: 10px;
    border-radius: 10px;
}
.heading2{
    min-height: 30vh;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-clr);
}
.social-link i{
    font-size: 35px;
    margin: 30px;
    color: var(--White);
    transition: 1s;
}
.social-link i:hover{
    transform: scale(1.5);
}
.heading2 p{
    font-size: 20px;
    color: var(--White);
}
@media(max-width:992px){
    #Contact .headings h1{
        font-size: 2.3rem;
    }
}
@media(max-width:768px){
    #Contact{
        margin-top: 0rem;
    }
    .social-link i{
        font-size: 40px;
        margin:20px;
        color: var(--White);
    }
    .heading2 p{
        font-size: 20px;
        color: var(--White);
    }
}
@media(max-width:480px){
    .social-link i{
        font-size: 30px;
        margin:20px;
        color: var(--White);
    }
    .heading2 p{
        font-size: 17px;
        color: var(--White);
    }
}

